html(lang='es')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(author='Grupo #1 Diseño de compiladores 2PAC 2022')
        title Cine-Sistemas
        link(rel='stylesheet' href='/css/normalize.css')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='/css/global-style.css')
        link(rel='stylesheet' href='/css/edit-cartelera-style.css')

    body 
        header.contenedor
            a(href='../index.html')
                h1.nombre-sitio Cine-Sistemas
            a(href='./index.html')
                h1.nombre-sitio Portal Empleados
            .auth
                a.btn-prim(href='../index.html') Cerrar Sesi&oacute;n
        main.contenedor
            h3 Editar Cartelera
            .panel
                select(name='' id='')
                    option(value='0') Seleccionar Complejo
                br
                input(type='week')
                .grid-cartelera
                    div
                        h4 Lunes
                        table
                            tr
                                th.pelicula Pelicula
                                th Hora Inicio
                                th Sala
                            tr
                                td  
                                td  
                                td  
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                        a.btn-ter(href='./edit-dia.html') Modificar Dia
                    div
                        h4 Martes
                        table
                            tr
                                th.pelicula Pelicula
                                th Hora Inicio
                                th Sala
                            tr
                                td  
                                td  
                                td  
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                        a.btn-ter(href='./edit-dia.html') Modificar Dia
                    div
                        h4 Miercoles
                        table
                            tr
                                th.pelicula Pelicula
                                th Hora Inicio
                                th Sala
                            tr
                                td  
                                td  
                                td  
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                        a.btn-ter(href='./edit-dia.html') Modificar Dia
                    div
                        h4 Jueves
                        table
                            tr
                                th.pelicula Pelicula
                                th Hora Inicio
                                th Sala
                            tr
                                td  
                                td  
                                td  
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                        a.btn-ter(href='./edit-dia.html') Modificar Dia
                    div
                        h4 Viernes
                        table
                            tr
                                th.pelicula Pelicula
                                th Hora Inicio
                                th Sala
                            tr
                                td  
                                td  
                                td  
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                        a.btn-ter(href='./edit-dia.html') Modificar Dia
                    div
                        h4 Sabado
                        table
                            tr
                                th.pelicula Pelicula
                                th Hora Inicio
                                th Sala
                            tr
                                td  
                                td  
                                td  
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                            tr
                                td
                                td
                                td
                        a.btn-ter(href='./edit-dia.html') Modificar Dia
                p#err-cartelera.error

        block content13        
